/* Genral Styles */
:root {
  --grayishBlue: hsl(229, 8%, 60%);
  --darkText: hsl(229, 5%, 35%);
  --softBlue: hsl(231, 69%, 60%);
  --softRed: hsl(0, 94%, 66%);
  --darkBlue: hsl(229, 31%, 21%);
  --white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
.textColor {
  color: var(--grayishBlue);
}

.cardsContainer {
  position: relative;
  z-index: 5;
  max-width: 57rem;
  margin: 0 auto;
}

.tabsContainer {
  position: relative;
  z-index: 5;
  max-width: 70rem;
  margin: 0 auto;
}
.textImgSection {
  .grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }

  .column-1 {
    margin-right: 1.5rem;
  }

  .column-2 {
    margin-left: 3rem;
  }

  .image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    img {
      max-width: 530px;
      max-height: 400px;
      z-index: 10;
    }
  }
}

/* End General Styles */

.mar-top-15 {
  margin-top: 15px;
}

.bigrect {
  margin: 0 auto;
  position: absolute;
  top: 5rem;
  right: -8rem;
  background-color: #5266df;
  width: 29rem;
  height: 19rem;
  border-bottom-left-radius: 9rem;
}

.marginComp {
  margin: 10px 0;
}
.MuiButton-root {
  text-transform: none !important ;
}
@media (max-width: 850px) and (min-width: 500px) {
  .grid-dense {
    grid-auto-flow: dense;
  }
  .grid-col-2 {
    grid-row: 1;
    grid-column: 1;
  }
  .textImgSection {
    .grid-2 {
      grid-template-columns: 1fr !important;
    }

    .column-1 {
      margin-right: 0;
      margin-bottom: 1rem;
    }

    .column-2 {
      margin-left: 0;
      margin-top: 1rem;
    }
    .rect {
      width: 50rem !important;
    }
    .bookmarkText {
      margin-top: 0rem;
    }
  }
}

@media (max-width: 500px) {
  .grid-dense {
    grid-auto-flow: dense; 
  }
  .grid-col-2 {
    grid-row: 1;
    grid-column: 1;
  }
  .textImgSection {
    .grid-2 {
      grid-template-columns: 1fr !important;
    }

    .column-1 {
      margin-right: 0;
      margin-bottom: 1rem;
    }

    .column-2 {
      margin-left: 0;
      margin-top: 1rem;
    }
    .rect {
      width: 50rem !important;
    }
  }
  .bigrect {
    top: 4rem !important;
    right: 0rem !important;
    width: 18rem;
    height: 12rem;
  }
}

@media (max-width: 560px) {
  .pad-1 {
    padding: 0 1rem;
  }
}
